.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #ddd; /* 가로, 세로 줄 */
    padding: 10px;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #f2f2f2; /* 헤더 배경색 */
    font-weight: bold;
  }
  
  .admin-table tr:nth-child(even) {
    background-color: #f9f9f9; /* 짝수 줄 배경색 */
  }
  
  .admin-table tr:hover {
    background-color: #f1f1f1; /* 마우스 오버 시 */
  }
  
  .admin-table img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* 모달 스타일 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

button {
  margin-top: 10px;
}


.modal-content p {
  margin: 5px 0;
  line-height: 1.4; 
}


.modal-content img {
  margin-top: 10px; 
}
