.footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
   z-index: 1000;
  }
  
  .footer div {
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .footer div:hover {
    background-color: #555;
  }
  