.request-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #dbead5; 
  border-radius: 12px;
  min-height: 100vh;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 0;
  }
  
  .request-container h1 {
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }


  
  .request-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .request-form label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .request-form input,
  .request-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .request-form button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid #333; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .request-form button:hover {
    background-color: #333;
    color: white;
  }
  
  .request-form input[type="file"] {
    padding: 0;
  }
  
  p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: #28a745;
  }
  